@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}
header{
    background-image: linear-gradient(to right top, #070446, #001a44, #001f29, #001d13, #171a12); height: 100vh;
 width: 100%;
height: 100%;
 margin-bottom: 20px;
 padding-bottom: 10%;

}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    position: fixed;
    top: 0%;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 100%;
    padding-bottom: 10px;
    z-index: 1;
    
}
.img-nav{
    display: grid;
    grid-template-columns: 1Fr 1fr;
    align-self:center ;
    position: relative;
    left: 5%;
    
}
.img-nav p{
   align-self: center;
   font-family: 'Akaya Kanadaka', cursive;
   font-size: 1.5rem;
   color:#B8DFD8 ;
   position: relative;
   bottom: 3px;
}
.nav-links{
    display: flex;
    position: relative;
    right: 10%;
}
.nav-links ul{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr  ;
    list-style: none;
   position: relative;
   top:7px;
   font-family: 'Montserrat', sans-serif;
   
}
.nav-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #D62AD0;
    transition: all 500ms linear;
    margin-left: 30px;
}
.nav-link:hover{
    color: antiquewhite;
}
.header-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 20%;
}
.img-header{
    align-self:center ;
}
#header-img{
    width: 45%;
    height: 400px;
    position: relative;
    left: 20%;
    top: 40px;
    
}
.header-text{
    align-self: center;
}
.header-text p{
   color: seashell;
   font-size: 30px;
   font-family: 'Akaya Kanadaka', cursive;
}
.part1{
    display: grid;
    grid-template-columns: 50% 50%;
   
}
.video-descr{
    align-self: center;
    justify-self: center;
}
#video{
    width: 70%;
    height: 300px;
    position: relative;
    left: 20%;

}
 form{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}
 form input{
    margin-bottom: 10px;
    width: 400px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border-style: groove;
}

   #submit{
    width: 200px;
    align-self: center;
    height: 25px;
    text-transform: uppercase;
    font-family: monospace;
    background-color: #5C33F6;
    border-radius: 20px;
    transition: all 500ms linear;
}
#submit:hover{
    color: snow;
    background-color: violet;
}
.part2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
   
}
.bloc1{
    background-color: #A2DBFA;
    width: 400px;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.bloc1 img{
    width: 100px;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.title-card{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
   font-weight: bold;
}
.descr-card{
    text-align: center;
    font-family:sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bloc1 button{
    text-transform: uppercase;
    width: 200Px;
    align-self: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #A2DBFA;
    transition: all 500ms linear;
    margin-bottom: 10px;
    border-style: solid;
}
.bloc1 button:hover{
    background-color: #3EDBF0;
    color: antiquewhite;
}
.part3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.bloc2{
    display: flex;
    flex-direction: column;
    background-color: #E5D549;
    border-radius: 30px;
    transition: all 500ms linear;
}
.bloc2:hover{
    transform: translatey(20px);
    -webkit-box-shadow: inset -1px 3px 8px 5px #E5D549 , 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: inset -1px 3px 8px 5px #E5D549, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}
.bloc2 h3{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}
.bloc2 img{
    width: 300px;
    height: 300px;
    align-self: center;
    border-radius: 50%;
}
.bloc2 p{
    text-align: center;
    padding-top: 10px;
    font-family:sans-serif;

}
.bloc2 button{
    width: 100px;
    height: 20px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    color: #B8DFD8;
    text-transform: uppercase;
    background-color:#A239EA ;
    border-style: none;
    transition: all 500ms linear;
    font-family: monospace;
}
.bloc2 button:hover{
    cursor: pointer;
    background-color: #C490E4;
    color: black;
}
.contact{
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}
.contact img{
    width: 100%;
}
.group-input{
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
}
.group-input input{
    margin-bottom: 10px;
    width: 70%;
    position: relative;
    left: 10%;
    height: 30px;
    outline: none;
    border:none;
    border-bottom: 1px black groove;
    
}
.group-input textarea{
    margin-bottom: 10px;
    width: 70%;
    position: relative;
    left: 10%;
    height: 30px;
    outline: none;
    border:none;
    border-bottom: 1px black groove;
    
}
#submit{
    width: 30%;
    align-self: center;
    left: 0%;
    margin-bottom: 0;
    border:1Px solid;
    color: black;
    b
    outline: none;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 500ms linear;
}
#submit:hover{
   cursor: pointer;
   background-color: coral;
   color: cornsilk;
  
}
/* MEDIA QUERY */
@media  (max-width:1240px){
    .part2{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        
        grid-gap: 10px; 
        }
   #repair{
       position: relative;
       left: 50%;
   }
}
@media  (max-width:919px){
    .part2{
        display: grid;
        grid-template-columns:1fr ;
    }
    .bloc1{
        width: 70%;
    }
    
    #repair{
        position: relative;
        left: 0%;
    }
    .part3{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #gamer{
       position: relative;
       left: 50%; 
    }
}
@media (max-width:747px){
    .part3{
        display: grid;
        grid-template-columns: 1fr;
    }
    #gamer{
        position: relative;
        left: 0%; 
     }
     .part1{
         display: grid;
         grid-template-columns: 1fr;
         grid-row-gap: 10px;
     }
     .bloc2{
         margin-bottom: 10px;
     }
    }
@media (max-width:635px){
    .nav-link{
        font-size: 10px;
    }
}